.App {
  font-family: sans-serif;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.Data {
  font-size: 16px;
  display: flex;
  justify-content: center;
}

.Footer {
  font-size: 12px;
  opacity: 0.5;
  margin-top: 20px;
}

ul {
  text-align: left;
}

img {
  display: inline-block;
}
