.Weather .Form {
  display: flex;
  justify-content: start;
}

.Weather .SearchForm {
  padding: 10px 15px;
  border-radius: 6px;
  border-color: rgba(0, 0, 0, 0.25);
  border-width: 1px;
  font-size: 16px;
}

.Weather .SearchButton {
  padding: 10px 15px;
  margin-left: 20px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  background-color: rgb(179, 218, 218);
}

.CurrentWeather h1 {
  margin: 20px 0 0 0;
  font-size: 40px;
}

.CurrentWeather h2 {
  margin: 0;
  font-size: 20px;
  font-weight: 200;
  opacity: 0.5;
}
.CurrentWeather ul {
  padding: 0;
  margin: 5px 0;
}

.CurrentWeather .Description {
  text-transform: capitalize;
}
.CurrentWeather li {
  list-style: none;
}

.CurrentWeather .WeatherData {
  display: flex;
  justify-content: space-between;
}

.CurrentWeather .TempIcon {
  display: flex;
}
.CurrentWeather img {
  width: 100px;
}

.Temperature {
  display: flex;
}

.Temperature .TempNumber {
  font-size: 80px;
}

.Temperature span {
  font-size: 24px;
  margin-top: 8px;
}

.Temperature a {
  text-decoration: none;
  color: rgb(179, 218, 218);
}
